@font-face{
  font-family: Poppins-Regular;
  src: url('../public/Poppins-Regular.ttf');
}

@font-face{
  font-family: Poppins-Medium;
  src: url('../public/Poppins-Medium.ttf');
}

@font-face{
  font-family: Poppins-Bold;
  src: url('../public/Poppins-Bold.ttf');
}

.login-card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  background: rgb(10, 245, 245);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.login-card-title{
  text-align: center;
  font-family: Poppins-Medium;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #141414;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #FFFFFF;
  padding: 16px;
  font-family: Poppins-Regular;
  text-decoration: none;
}

.sidebar a:hover{
  background-color: #282828;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}